.navbar-fixed-top + .container {
    margin-top: 60px;
}

.player .player_controls .track_description,
.player .player_controls .btn-group {
    margin-left: 10px;
}

.player .player_controls .track_description {
    margin: 0 10px 15px;
}

.player .player_controls .track_description__title {
    font-weight: bold;
}

.player .player_controls .track_description__duration{
    font-size: 150%;
}


.player .player_playlist .track {
    width: 100%;
}

.list-group-item.active{
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    z-index: 2;
}